.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.addBtn {
    display: inline-block;
    margin: 20px 0;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.2s ease;
    color: #000;
    background-color: #eee;
}

.addBtn:hover {
    background-color: rgb(226, 226, 226);
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table thead tr td {
    background-color: rgb(207, 207, 207);
}

.table thead tr:hover {
    background-color: #eee;
}

.user {
    display: flex;
    align-items: center;
}

.img {
    width: 25px;
    margin-right: 10px;
}

.username, .title, .text, .date {
    margin-bottom: 0;
}

.title {
    font-size: 14px;
    color: #000;
}

.text {
    font-size: 13px;
}

.username, .date {
    font-size: 13px;
    color: rgb(151, 151, 151);
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.table p {
    margin-bottom: 0;
}