$kgen-primary: #003143;
$kgen-active: #f16d20;
$kgen-secondary: #00aced;
$kgen-white: #fff;
$kgen-black: #000;
$kgen-grey: #858585;
$kgen-light-grey: #e1e1e1;
$kgen-articles-bg: #001726;
$full-height: 100vh;
$navigation-height: 100px;
