.wrapper {
    max-width: 1200px;
    margin: 30px auto;
}

.topic:hover {
    box-shadow: 1px 1px 15px rgb(207, 207, 207, 0.5);
}

.topic {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    gap: 20px;
    background-color: rgb(247, 247, 247);
    padding: 15px;
    border: 1px solid rgb(179, 179, 179, 0.3);
    transition: box-shadow 0.2s ease;
}

.content {
    box-shadow: 1px 1px 10px rgb(207, 207, 207, 0.5);
    padding: 10px 20px;
    border: 1px solid rgb(179, 179, 179, 0.3);
    height: max-content;
}

.text {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 0;
}

.date {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 5px;
    color: rgb(128, 128, 128);
}