* {
  box-sizing: border-box;
}
body {
  width: auto;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2,
h3,
a {
  color: #34495e;
}

a {
  text-decoration: none;
}

.logo {
  margin: 0;
  font-size: 1.45em;
}
.photo {
  height: 60px;
  width: 60px;
  background-color: transparent;
}

.mainnav {
  margin-top: 5px;
}
.logo a,
.mainnav a {
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
}

.mainnav a {
  color: #34495e;
  font-size: 0.99em;
}

.mainnav a:hover {
  color: #718daa;
}

.header {
  padding-top: 0.3em;
  padding-bottom: 0.5em;
  border: 1px solid #a2a2a2;
  background-color: #f4f4f4;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
  .header,
  .mainnav {
    display: flex;
  }
  .header {
    flex-direction: column;
    align-items: center;
  }
  .header {
    width: 100%;
    margin: 0 auto;
    /* max-width: 1150px; */
  }
}

@media (min-width: 1025px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* 
.wrapper {
    background-color: #eee;
    position: sticky;
    top: 0;
}

.list {
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    max-width: 1200px;
    margin: 0 auto;
}

.link {
    text-decoration: none;
    color: #000;
    padding: 8px 20px;
    display: inline-block;
    transition: all 0.2s ease;
}

.link:hover {
    background-color: #dbdbdb;
    color: #000;
}

.active {
    background-color: #cbcbcb;
}
*/
